<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322598641926-t3939a754mo2qbaf51udu5630ppn7pue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322598641926-t3939a754mo2qbaf51udu5630ppn7pue</string>
	<key>API_KEY</key>
	<string>AIzaSyA1sphZLkzl_2Dw8hAvZSsY-_kvxFFq5e4</string>
	<key>GCM_SENDER_ID</key>
	<string>322598641926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.engenhoagro.ecooperativa</string>
	<key>PROJECT_ID</key>
	<string>e-cooperativa</string>
	<key>STORAGE_BUCKET</key>
	<string>e-cooperativa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322598641926:ios:3b1c0430cb026b53073e87</string>
</dict>
</plist>